//mixin
@mixin sp-screen {
	@media screen and (max-width: 767px) {
		@content;
	}
}
@mixin pc-screen {
	@media screen and (min-width: 768px) {
		@content;
	}
}
@mixin clearfix {
	&:after {
		content: "";
		clear: both;
		display: block;
	}
}
@mixin ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
@mixin placeholderColor($color) {
    &:placeholder-shown {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color:$color;
    }
    &:-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color:$color;
    }
}